version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: abracadabra_postgres
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: abracadabra
    ports:
      - "5433:5432"

    volumes:
      - ./pgdata:/var/lib/postgresql/data
