name: Build & Push Docker Images

on:
  push:
    branches: ["main"]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build backend image
        run: |
          docker build -t ghcr.io/${{ github.actor }}/back-abracadabra:latest ./backend

      - name: Push backend
        run: |
          docker push ghcr.io/${{ github.actor }}/back-abracadabra:latest

      - name: Build frontend image
        run: |
          docker build -t ghcr.io/${{ github.actor }}/front-abracadabra:latest ./frontend

      - name: Push frontend
        run: |
          docker push ghcr.io/${{ github.actor }}/front-abracadabra:latest
